{% extends 'base.html.twig' %}

{% block title %}Edit Vlog{% endblock %}

{% block body %}
    <h1>Edit Vlog</h1>

    {{ include('vlog/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_vlog_index') }}">back to list</a>

    {{ include('vlog/_delete_form.html.twig') }}
{% endblock %}