{% extends 'base.html.twig' %}

{% block title %}PLM DB{% endblock %}

{% block body %}
<div class="py-5 px-5 mt-0 mx-auto" style="background-color: #312c42; width: 95%;" >
    <h1 class="fw-bold text-center">Los columnistas de PLM</h1>
    <div class="mx-auto" style="width: 100%">
        <div class="row text-center">
            {% for columnista in columnistas %}
                <div class="col-12 col-md-4 mb-4">
                    <div class="card text-white" style="background-color:rgb(33, 30, 44);">
                        <img src="{{ columnista.foto }}" class="card-img-top" alt="{{ columnista.nombre }}" style="max-height: 220px; min-height: 220px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title mb-0">{{ columnista.nombre }}</h5>
                        </div>
                    </div>
                </div>

                {% if loop.index == 3 %}
                    </div><div class="row text-center justify-content-center">
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}