{% extends 'base.html.twig' %}

{% block title %}Editar Club{% endblock %}

{% block body %}
    <h1 class="text-xl text-center mb-5">Editar Club</h1>
    {{ include('club/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
