<form method="post" action="{{ path('app_edicion_delete', {'id': edicion.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ edicion.id) }}">
    <button class="btn">Delete</button>
</form>