{% extends 'base.html.twig' %}

{% block title %}Edit Edicion{% endblock %}

{% block body %}
    <h1>Edit Edicion</h1>

    {{ include('edicion/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_edicion_index') }}">back to list</a>

    {{ include('edicion/_delete_form.html.twig') }}
{% endblock %}