<form method="post" action="{{ path('app_conductor_delete', {'id': conductor.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ conductor.id) }}">
    <button class="btn">Delete</button>
</form>
